.contacts {
  align-items: center;
  display: flex;
  justify-content: space-around;
  grid-area: contacts;
  margin-top: -1px;
  margin-bottom: -1px;
  backdrop-filter: blur(10.1px);
}

.contact-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.contact-text {
  color: #e9e5e5;
  font-family: Roboto;
  font-weight: 100;
  letter-spacing: 0.1em;
}

.contact-icon {
  width: 30px;
  height: 30px;
  background: rgba(0, 0, 0, 0.616);
  border-radius: 50%;
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 5px 5px;
}

.contact-icon.phone {
  background-image: url(/assets/img/phone.svg);
}

.contact-icon.mail {
  background-image: url(/assets/img/envelope.svg);
}

.contact-icon.gh {
  background-image: url(/assets/img/github.svg);
}

.contact-icon.marker {
  background-image: url(/assets/img/map-marker.svg);
}

.contacts a:link {
  transition: all 0.2s;
  color: #e9e5e5;
  text-decoration: none;
}

.contacts a:visited {
  color: #e9e5e5;
}

.contacts a:hover {
  text-shadow: 0 0 10px #fff, 0 0 20px #fff;
  text-decoration: none;
  cursor: pointer;
}
